.formParent{
    width: 80%;
    height: 84vh;
    margin: auto;
    border: 2px solid green;
    border-radius: 8px;
    background-color: var(--light-shade);
}
.formParent > form{
    height: 90%;
    display: grid;
    grid-template-rows: auto auto auto
}
.categoryParent{
    height: 100%;
}
.categoryHeading{
    background-color: var(--dark-level3);
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.categoryInputsParent{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 80%;
    padding: 20px;
}
.categoryInputs{
    margin-right: 10%;
    /* width: 12%; */

}
.categoryInputs input, .categoryInputs select{
    border-color: var(--dark-level1) !important;
    border-radius: 4px;
}
.categoryInputs input:active, .categoryInputs select:active{
    border-color: var(--dark-level2);
    border-radius: 4px;
}
.buttonParent >button{
    padding: 8px 12px 8px 12px;
    border: 0;
    border-radius: 5px;
}
.submitBtn{
    background-color: var(--dark-level2);
    color: var(--white-background);
}
.submitBtn:hover{
    background-color: var(--dark-level3);
}
.cancelBtn{
    background-color: var(--light-shade);
    color: var(--dark-level3);
}
.cancelBtn:hover{
    background-color: var(--dark-level1);
    color: var(--white-background);
}
.buttonParent{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:20px;
}
.parentContainer > h2{
    width: 80%;
    margin: 0 auto 10px auto; 
    color: var(--dark-level3);
}