.table{
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
    border: 1;
}
.tableParent{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:120px
}

.table > thead td {
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.table tbody td{
    width: fit-content;
    text-align: center;
    padding: 15px 10px 15px 10px;
}